@import url("https://fonts.google.com/specimen/Big+Shoulders?query=big+shoulders+display");
@import url("https://fonts.google.com/specimen/Lexend+Deca");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f2f2f2;
}

/* Style to place all elements in their correct placement according to picture guide */
main {
  display: flex;
  margin: 150px auto;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

img {
  width: 100%;
}

.imgBox {
  width: 5vw;
  margin-bottom: 60px;
}
h1 {
  margin-bottom: 20px;
}
.containerBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: blue; /* temp color to see what I'm working with, remove later*/
  width: 65vw;
  height: 35vw;
  border-radius: 15px;
}

/* Styling for text */
.txtUtilityH {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #f2f2f2;
}

.txtUtility {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #ffffffbf;
}

/* Layout of the conatiner boxes */
.utilityStyle {
  display: flex;
  flex-direction: column;
  padding: 75px;
}

/* Adding color to the seperate div containers */
.sedanBox {
  background-color: #e38826;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}
.suvBox {
  background-color: #006970;
}

.luxuryBox {
  background-color: #004241;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}
