@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Lexend+Deca:wght@100..900&display=swap");
@import url("https://fonts.google.com/specimen/Lexend+Deca");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f2f2f2;
}

/* Style to place all elements in their correct placement according to picture guide */
main {
  display: flex;
  margin: 150px auto;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

img {
  width: 100%;
}

.imgBox {
  width: 4.5vw;
  margin-bottom: 20px;
}
h1 {
  margin-bottom: 20px;
}

/*Layout style for the collection of divfferent divs for the different cars*/
.containerBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 65vw;
  height: 35vw;
  border-radius: 15px;
}

/* Styling for header text */
.txtUtilityH {
  font-family: "Big Shoulders";
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 50px;
  font-style: normal;
  color: #f2f2f2;
}

/*style for p text*/
.txtUtility {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: larger;
  color: #ffffffbf;
}

/* Layout of the conatiner boxes */
.utilityStyle {
  display: flex;
  flex-direction: column;
  padding: 70px;
  gap: 30px;
}

/* Adding color to the seperate div containers */
.sedanBox {
  background-color: #e38826;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}
.suvBox {
  background-color: #006970;
}

.luxuryBox {
  background-color: #004241;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

.btnStyle {
  display: flex;
  justify-content: last baseline;
  align-items: center;
  text-align: center;
  width: 110px;
  height: 40px;
  padding: 11px 10px 10px 18px;
  border: 0px;
  border-radius: 20px;
  margin-top: 150px;
  position: static;
  margin-right: 20px;
  color: hsla(0, 0%, 100%, 0.689);
  background-color: #f2f2f2;
}

.btnTxtCsedan {
  color: #e38826;
  font-weight: 700;
}

.btnTxtCsuv {
  color: #006970;
  font-weight: 700;
}

.btnTxtCluxury {
  color: #004241;
  font-weight: 700;
}
